/* #mainView {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
};
 */

 #tunerHead {
    background-color: rgb(134, 134, 240);
    text-align: center;
  
 }

 #mainView {
    
    background-color: rgb(134, 134, 240);
    
 }


 .noteButtons {
    width: 10rem;
    font-size: large;
    

  
 }


